
<div class="alert alert-info text-center" role="alert">
<h1>Category</h1>
</div>
<ul class="list-group text-center">
  <% @categories.each do |category| %>
    <li class="list-group-item list-group-item-primary">
    
    <%= link_to category.title, category %>
    </li>
  <% end %>
</ul>
<div class="text-center" style="margin-top:50px;">
<button type="button" class="btn btn-outline-primary" ><%= link_to "New category", new_category_path %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Back to home", root_path %></button>
</div>

